﻿@model Web_CrowdBook.Models.BaseModel
<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <link rel="shortcut icon" href="/Images/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/Images/favicon.ico" type="image/x-icon">
    <meta charset="utf-8" />
    <meta content="text/html; charset=iso-8859-1;" http-equiv="content-type" />
    <meta name="viewport" content="width=device-width" />
    @RenderSection("metas", required: false)
    @Styles.Render("~/Content/css")
    @RenderSection("styles", required: false)
    @Scripts.Render("~/bundles/global")
    @RenderSection("scripts", required: false)
</head>
<body>
    <div id="wrap_pag"><div id="main_pag"><div id="wrap_header">
        <div id="header" class="size-dym">
            <a class="logo" href="@Url.Action("Index", "Home")" title="CrowdBook.com"><i class="ico-logo crowdbook_ijsg"></i></a>
            <div id="menu-nav">
                <ul><li><a href="@Url.Action("Index", "Home")"><span>Inicio</span></a></li></ul>
            </div>
            <div id="menu-user">
                <ul>
                    @if (Request.IsAuthenticated){
                    <li class="list-main"><div class="avatar round-img"><span class="round-img-inner"><a class="round-img-a" href="@Url.Action("Index", "Profile")"><img id="imgAvatarHeader" alt="@Model.Person.FirstName" src="@Url.Action("Person", "Image", new { id = (int)Model.Person.Id, width = 60, height = 60 })"></a></span></div></li>
                    <li class="list-main userinfo">
                        @if(!string.IsNullOrEmpty(Model.Person.InstitutionAlias)){
                            <strong class="name no-wrap-ellips"><a href="@Url.Action("Index", "Home")">@Model.Person.FirstName</a></strong>
                            <div class="institution no-wrap-ellips">@Model.Person.InstitutionAlias</div>
                        }
                        else if(!string.IsNullOrEmpty(Model.Person.Institution)){
                            <strong class="name no-wrap-ellips"><a href="@Url.Action("Index", "Home")">@Model.Person.FirstName</a></strong>
                            <div class="institution no-wrap-ellips">@Model.Person.Institution</div>
                        }
                        else{
                            <strong class="name not-institution no-wrap-ellips"><a href="@Url.Action("Index", "Home")">@Model.Person.FirstName</a></strong>
                        }
                    </li>
                    <li id="menu-user-main">
                        <a class="a-dropdown"><i class="ico-drodown"></i></a>
                        <div class="menu-drop">
                            <ul class="navigation">
                                <li class="name"><strong class="no-wrap-ellips"><a href="@Url.Action("Index", "Profile")">@Model.Person.Fullname</a></strong></li>
                                <li><a id="btn-create-g" href="@Url.Action("Index", "Create")"><span>Crear grupo</span></a></li>
                                <li><a href="@Url.Action("Index", "MyGroups")"><span>Mis grupos</span></a></li>
                                <li><a href="@Url.Action("Index", "Profile")"><span>Editar perfil</span></a></li>
                                <li class="logout"><a href="@Url.Action("LogOut", "Account")"><span>Cerrar Sesión</span></a></li>
                            </ul>
                        </div>
                    </li>
                    }
                    else{
                        <li class="list-main"><div class="avatar round-img"><span class="round-img-inner"><a href="@Url.Action("Index", "Account")"><img alt="Login" src="~/Images/person.png"></a></span></div></li>
                        <li class="list-main userinfo">
                            <strong class="name"><a href="@Url.Action("Index", "Account")">Login</a></strong>
                            <div class="institution"><a href="@Url.Action("Index", "Account")">Registrarse</a></div>
                        </li>
                    }
                </ul>
            </div>
            <div id="menu-notification"><ul><li><i class="ico-bell"></i></li></ul></div>
            <div id="menu-search">
                @using (Html.BeginForm("SearchGroup", "MyGroups", FormMethod.Post, new { @class = "form-horizontal" })){
                    <div class="inner"><input id="txSearchHeader" type="search" name="search" placeholder="Buscar grupos" /><i class="ico-search"></i></div>
                }
            </div>
        </div></div>
    <div class="size-dym"><div id="content" class="clearfix">        
        <div id="page-content">
            @if (Request.IsAuthenticated){
            <div id="col-left">
                <div class="clearfix">
                    <div class="avatar round-img"><span class="round-img-inner"><a class="round-img-a" href="@Url.Action("Index", "Profile")"><img id="imgAvatarSide" alt="@Model.Person.FirstName" src="@Url.Action("Person", "Image", new { id = (int)Model.Person.Id, width = 105, height = 105 })"></a></span></div>
                    <div class="user">
                        <strong>@Model.Person.FirstName @Model.Person.LastName</strong>
                        <h5>@Model.Person.Institution</h5>
                    </div>
                    <nav>
                        <ul class="navigation">
                            <li>@Html.ActionLink("Inicio", "Index", "Home")</li>
                            @*<li>@Html.ActionLink("My Crowd", "Index", "Home")<i class="my-crowd bg-green">0</i></li>*@
                            <li>@Html.ActionLink("Mis Grupos", "Index", "MyGroups")<i class="my-groups bg-blue">@Model.Person.MyGroups</i></li>
                            <li>@Html.ActionLink("Biblioteca", "Index", "Library")<i class="resources bg-orange"><span id="mnSRes">@Model.Person.Products</span></i></li>
                        </ul>
                    </nav>
                </div>
            </div>
            <div id="side-main">@RenderBody()</div>
            }
            else{
            <div id="side-main" style="margin-left:0;">@RenderBody()</div>
            }
        </div>
    </div></div></div></div>
    <div id="footer"><div class="inner">
        <div>© Crowdbook S.A.S - Crowdbook™ 2014&nbsp <ul class="policy"><li>@Html.ActionLink("Privacidad", "Policy", "Account", null, new { @target="_blank" })</li></ul></div>
        <div>Versión 0.2.0</div>
    </div></div>
</body>
</html>