﻿@model Web_CrowdBook.Models.AccountModel
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <title>Crowdbook, Política de Privacidad</title>
    <link rel="shortcut icon" href="/Images/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/Images/favicon.ico" type="image/x-icon">
    <meta charset="utf-8" />
    <meta http-equiv="content-type" content="text/html; charset=iso-8859-1" />
    <meta name="viewport" content="width=device-width" />
    <meta name="robots" content="noindex"/>
    @Styles.Render("~/Content/css")
    <style type="text/css">
        h1 { text-align:center; }
        h1, p.content { color:#201914; font-weight:bold; }
        #privacy { padding-top:10px; }
        p { margin:0px 0px 10px; color:#4b4b4b; font-size:14px; text-align:justify;; }
    </style>
</head>
<body>
    <div id="wrap_pag"><div id="main_pag"><div id="wrap_header">
        <div id="header" class="size-dym">
            <a class="logo" href="@Url.Action("Index", "Home")" title="CrowdBook.com"><i class="crowdbook_ijsg"></i></a>
        </div></div>
    <div class="size-dym"><div id="content" class="clearfix">
        <div id="page-content">
            <div id="privacy">
                <img src="/Images/logo_crowdbook.png" alt="" style="width:150px; height:150px; margin-bottom:15px;"/>
                <h1 style="display:inline-block; margin-left:150px;">CrowdBook - PRIVACY</h1>
                <p class="content">1.0 Our Privacy Pledge</p>
                <p>
                    EDUCA TECHNOLOGY AND CONTENTS GROUP, LLC ("ETC") provides certain
                    services including a mobile application called CrowdBook (the "Application"). 
                    We want you to know that your trust is key to the success of our business. 
                    We take privacy and confidentiality very seriously and we safeguard the personal information of our users in accordance with this Policy.  
                    In this Policy "personal information" means personal information about an identifiable individual, but excludes business contact information; 
                    and "Services" means services provided by ETC through the Application or desktop interface.
                </p>
                <p class="content">1.1 Consent</p>
                <p>
                    By using our Services and supplying information to us, or by using the ETC Application, you consent to the collection, 
                    use and disclosure of your personal information by us for the purpose of providing Services to you via the ETC Application, 
                    and administering your account in accordance with: (a) this Policy, (b) any other agreement you may have entered into with us, and (c) applicable laws and regulations. 
                    It is your responsibility to ensure that we are kept informed of the correct and current contact information for you.
                </p>
                <p class="content">1.2 Collection of User Information</p>
                <p>
                    ETC collects limited personal information from its users (educational institution students or teachers or anyone who wishes to use the application, 
                    only as needed for the operation and management of the Services provided by ETC.
                </p>
                <p class="content">1.3 Collection of Student Information</p>
                <p>
                    ETC may collect limited personal information from  students, only as needed for the operation and management of the Services provided by ETC, 
                    and only where that student's school board, educational institution or teacher has contracted with ETC to do so. We first require the school board, educational institution or teacher to obtain the consent of parents/legal guardians prior to collecting such information. 
                    If you are a minor student, do not send any personal information about yourself or other students to ETC, other than what is requested upon signing up for the Services. 
                    In the event that we discover we have the personal information of a student without consent of a parent/legal guardian, or information in excess of what we request upon sign-up, we will permanently destroy that information as quickly as possible. 
                    If you believe a student may have provided us personal information without consent of a parent/legal guardian, 
                    or information in excess of what we request upon sign-up, please contact us at info@educatablet.com.
                </p>
                <p>
                    Students who have signed up with an access code provided by a school or teacher should be aware that their parent/legal 
                    guardian has access to all information within or associated with their ETC account, 
                    including, but not limited to, messages between other students, teachers, and assignment grades.
                </p>
                <p>
                   All students and teachers within a single course group in the password-protected portion of the Application or ETC site have the ability to view one another's profiles, 
                    but visibility is limited to such information as their names, photographs, and biographies. 
                    Students are unable to see the grades of other students, irrespective of whether or not they are members of the same course group on the site
                </p>
                <p class="content">1.4 Information of Others</p>
                <p>
                    By inputting any personal information into the Application (including the personal information of others), you consent to the use of that personal information within the Application, 
                    and you represent and warrant that you have obtained any permissions or authorizations for any personal information of others that you input or send through the Application.  
                    We do not use, collect or retain any of that information.
                </p>
                <p class="content">1.5 Communication</p>
                <p>
                    You authorize us to communicate with you regarding our services and your account. 
                    You authorize us to communicate with you via the Internet and via the email address you have provided. 
                    You understand and accept the risk that data and information transmitted over the Internet is susceptible to error or security breaches.
                </p>
                <p class="content">1.6 Information Use & Sharing</p>
                <p>
                    We do not share, trade, sell or in any way disclose your personal information without your consent unless such a disclosure is: (a) required by law; (b) mandated by search warrant or court order; or (c) warranted during investigation of the commission of an offence, a breach of a contract, or breach of a law or regulation.  
                    We may collect, aggregate and anonymize data for system monitoring, quality control and product improvement purposes, provided it does not collect, use or disclose any personal information
                </p>
                <p class="content">1.7 Dispute Resolution</p>
                <p>
                    In the event you have a question, complaint or dispute regarding your personal information or our personal information handling practices, contact us at the number(s) or email address(es) as displayed in the “Contact Us” section of our Site.
                </p>
                <p class="content">
                    1.8 Business Transfers
                </p>
                <p>
                    As a corporate entity, ETC may elect to buy or sell assets. These transactions normally entail the transferring of user information as a business asset. 
                    In such an event any acquirer of ETC may continue to use personal information as set forth in this Privacy Policy.
                </p>
                <p class="content">1.9 Changes</p>
                <p>Changes to this Policy may be made from time to time by us, and the modified form of the Policy will take effect 15 days after posting on this page.</p>
                <p class="content" style="padding-bottom:30px;">Last updated September 25, 2014</p>
        </div>
        </div>
    </div></div></div></div>
</body>
</html>