﻿@model Web_CrowdBook.Models.ChangePasswordModel
@{
    ViewBag.Title = "CrowdBook - Modificar contraseña";
}
<div id="page-content"><div class="block-content clearfix">
    <div id="create-group" class="clearfix" style="width:480px;">
    @using (Html.BeginForm("ChangePassword", "Profile", FormMethod.Post, new { id = "formProfile", @class = "form-horizontal", onsubmit = "return change_password.validate_change_pass()" })){
      @Html.AntiForgeryToken()
        <h3 class="title">Modificar contraseña</h3>
        <div id="main-info" class="clearfix">
            <div class="col-md-12">
                <div class="validations">@Html.ValidationSummary()<div id="div-validations" class="validation-summary-errors marg-left-0"></div></div>
                <div class="col-md-12">
                    <div class="col-md-4 label-form pad-right-0">@Html.LabelFor(model => model.CurrentPassword)</div>
                    <div class="col-md-8  pad-right-0">@Html.PasswordFor(model => model.CurrentPassword, new { id = "txCurrentPass", @class = "form-control" })</div>
                </div>
                <div class="col-md-12">
                    <div class="col-md-4 label-form pad-right-0">@Html.LabelFor(model => model.Password)</div>
                    <div class="col-md-8  pad-right-0">@Html.PasswordFor(model => model.Password, new { id = "txPass", @class = "form-control", maxlength = "20" })</div>
                </div>
                <div class="col-md-12">
                    <div class="col-md-4 label-form pad-right-0">@Html.LabelFor(model => model.PasswordConfirm)</div>
                    <div class="col-md-8  pad-right-0">@Html.PasswordFor(model => model.PasswordConfirm, new { id = "txPassConfirm", @class = "form-control", maxlength = "20" })</div>
                </div>
            </div>
        </div>
        <div class="col-md-12 form-buttons">
            <button type="submit" value="Save" class="btn btn-block btn-success"><i class="icon-ok"></i>&nbsp;Guardar</button> 
        </div>
        
        @*<iframe title="YouTube video player" class="youtube-player" type="text/html" width="640" height="390" src="https://www.youtube.com/watch?v=x4Bs7u61AMQ" frameborder="0" allowFullScreen></iframe>*@
        <object width="420" height="315" data="http://www.youtube.com/v/x4Bs7u61AMQ?autohide=1&amp;version=3"></object>
    }
    </div>
</div></div>
@Html.HiddenFor(model => model.EncriptionKey, new { id = "txtEncrK" })
@if(ViewBag.GlobalAlertMessage != null){
    <div id="dMessageInfo" class="@ViewBag.GlobalAlertClass fixed"><button type="button" class="close" onclick="$('#dMessageInfo').hide('slow')">&times;</button>@Html.Raw(ViewBag.GlobalAlertMessage)</div>
}
@section scripts{
    <script src="~/Scripts/jquery.validate.min.js"></script><script src="~/Scripts/RSA.js"></script><script type="text/javascript" src="~/Scripts/Areas/Basic/profileChangePassword.js?v=01"></script>
}