﻿@model Web_CrowdBook.Models.ProfileModel
@{
    ViewBag.Title = "CrowdBook - Perfil del usuario";
}
<div id="page-content">
<div class="block-content clearfix">
    <div id="create-group" class="clearfix">
    <div>
        <div class="block-avatar margin-auto">
            <div class="avatar round-img"><span class="round-img-inner"><img id="imgAvatar" alt="" src="@Url.Action("Person", "Image", new { id = (int)Model.Person.Id, width = 125, height = 125 })" /></span>
                @using (Html.BeginForm("SaveAvatarPersonJson", "Profile", null, FormMethod.Post, new { id = "formFileAvatar", enctype = "multipart/form-data", target = "pUploadAvaPerTarget" })){ 
                     @Html.AntiForgeryToken()
                    <div class="edit-group">
                        <a class="ico-edit d-block c-point" rel="ignore" role="button">
                            <div class="wrapper-upload">@Html.TextBox("ImageFile", null, new { id = "uploadAvatar", @class = "file-custom", type = "file", accept = "image/*" })</div>
                        </a>
                    </div>
                }
            </div>
        </div>
    </div>
    @using (Html.BeginForm("Index", "Profile", FormMethod.Post, new { id = "formProfile", @class = "form-horizontal", onsubmit = "return profile.validate_form()" })){
      @Html.AntiForgeryToken()
        <h3 class="title">Perfil del usuario</h3>
        <div id="main-info" class="clearfix">
            <div class="col-md-12">
                <div class="validations">@Html.ValidationSummary()<div id="div-validations"></div></div>
                <div class="col-md-12">
                    <div class="col-md-2 label-form">@Html.LabelFor(model => model.FirstName)</div>
                    <div class="col-md-10">@Html.TextBoxFor(model => model.FirstName, new { @class = "form-control", maxlength = "40" })</div>
                </div>
                <div class="col-md-12">
                    <div class="col-md-2 label-form">@Html.LabelFor(model => model.LastName)</div>
                    <div class="col-md-10">@Html.TextBoxFor(model => model.LastName, new { @class = "form-control", maxlength = "40" })</div>
                </div>
                <div class="col-md-12">
                    <div class="col-md-2 label-form">@Html.LabelFor(model => model.GenderAbbreviature)</div>
                    <div class="col-md-10">@Html.DropDownListFor(model => model.GenderAbbreviature, Model.GenderList, new { @class = "form-control" })</div>
                </div>                
                @*<div class="col-md-12">
                    <div class="col-md-2 label-form">@Html.LabelFor(model => model.IdInstitution)</div>
                    <div class="col-md-10">
                        @Html.TextBoxFor(model => model.Institution, new { id = "txtInstitution", @class = "form-control", autocomplete = "off" })
                        @Html.HiddenFor(model => model.IdInstitution, new { id = "txtInstitutionId" })
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="col-md-2 label-form">@Html.LabelFor(model => model.IdLevel)</div>
                    <div class="col-md-10">
                        @Html.DropDownListFor(model => model.IdLevel, Model.LevelList, new { id = "ddlLevels", @class = "form-control" })
                    </div>
                </div>*@
            </div>
        </div>
        <div class="col-md-12 form-buttons">
            <button type="submit" value="Save" class="btn btn-block btn-success"><i class="icon-ok"></i>&nbsp;Guardar</button> 
        </div>
    }
    </div>
    <div id="modal-image-crop" class="modal" style="margin-top:50px;">
        <div class="container-crop">
            <div class="text-center"><img id="imageCropped" src="" alt="" title="" data-crop-type="1" /></div>
            <div class="text-right" style="margin-top:20px;">
                <input id="btnCancelCrop" type="button" class="btn btn-secondary" value="Cancelar" />
                <input id="btnCrop" type="button" class="btn btn-primary" value="Guardar Imagen" /></div>
        </div><input id="cropX1" type="hidden" value="" /><input id="cropY1" type="hidden" value="" /><input id="cropX2" type="hidden" value="" /><input id="cropY2" type="hidden" value="" />
    </div>
    <div id="modal-loading" class="modal"><img alt="" src="~/Images/loading.gif" /></div>
    <input id="txtIdPerson" type="hidden" value="@Convert.ToInt32(Model.Person.Id).ToString()" />
    <iframe id="pUploadAvaPerTarget" name="pUploadAvaPerTarget" onload="profile.uploadAvatar_complete();" style="position:absolute; left:-999em;"></iframe>
</div></div>
@if(ViewBag.GlobalAlertMessage != null){
    <div id="dMessageInfo" class="@ViewBag.GlobalAlertClass fixed"><button type="button" class="close" onclick="$('#dMessageInfo').hide('slow')">&times;</button>@Html.Raw(ViewBag.GlobalAlertMessage)</div>
}
@section styles{
    @Styles.Render("~/Content/jqueryimgareaselect")
}
@section scripts{
    <script type="text/javascript" src="~/Scripts/Areas/Basic/profile.js?v=02"></script><script src="~/Scripts/jquery.validate.min.js"></script>
    @Scripts.Render("~/bundles/jqueryimgareaselect")
}