﻿@model Web_CrowdBook.Models.GroupModels
@{
    ViewBag.Title = "CrowdBook - " + Model.Group.Name;
    if(!Request.IsAuthenticated){
    Layout = "~/Views/Shared/_LayoutWithLogin.cshtml";
    }
}
<div id="group">
    <div id="profile-group" class="block-content">
        <div id="cover">
            <img id="imgCover" alt="@Model.Group.Name" width="770" height="255" src="@Url.Action("GroupCover", "Image", new { id = Model.Group.IdGroup, width = 770, height = 255 })" />           
        </div>
        <div id="profile">
            <div id="block-avatar">
                <div id="avatar-group" class="round-img"><span class="round-img-inner"><img id="imgAvatar" alt="" src="@Url.Action("Group", "Image", new { id = Model.Group.IdGroup, width = 145, height = 145 })" /></span></div>
            </div>
            <div id="detail-group">
                <div id="detail-group-inner" class="block-transaprent">
                    <h1 id="gName">@Model.Group.Name</h1>
                    <p id="gDescr">@Model.Group.Description</p>
                    <div class="counters">
                        <span class="count"><strong>@Model.Group.Members</strong><span>Participantes</span></span>
                        <span class="count"><strong><span id="stResources">@Model.Group.Resources</span></strong><span>Recursos</span></span>
                    </div>
                    <nav id="group-navigation">
                        <ul>
                            @if(!Model.IsOnwer){
                                if(Model.IsMember){
                                    <li><a id="btnJoinGroup" data-join="1" href="#">Abandonar Grupo</a></li>    
                                }
                                else if(Model.MemberRequest){
                                    <li><a id="btnJoinGroup" data-join="1" href="#">Solicitud enviada</a></li>  
                                }
                                else{
                                    <li><a id="btnJoinGroup" data-join="0" href="#">Unirte al Grupo</a></li>
                                }
                            }
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <div id="content-group" class="clearfix">

    </div>
    <div style="width:200px; height:20px;" class="infinity-loading"></div>
    @Html.AntiForgeryToken()
    <div id="modal-joining" class="modal-generic modal">
        <div class="inner-loadding text-center"><img alt="" src="~/Images/loading.gif" /><p>Por favor espere, se están asignando todos los recursos del grupo.</p></div>
    </div>
    <input id="txtIdGroup" type="hidden" name="idGroup" value="@Model.Group.IdGroup" />
    <input id="txtIdPerson" type="hidden" name="idGroup" value="@Model.IdPerson" />
    <input id="txtIsAdmin" type="hidden" name="idGroup" value="@(Model.IsAdmin ? "1" : "0")" /> 
</div>
@if(ViewBag.GlobalAlertMessage != null){
    <div id="dMessageInfo" class="@ViewBag.GlobalAlertClass"><button type="button" class="close" onclick="$('#dMessageInfo').hide('slow')">&times;</button>@Html.Raw(ViewBag.GlobalAlertMessage)</div>
}
@section scripts{
    @Scripts.Render("~/bundles/group")
}
@section metas {
    <link rel="canonical" href="@ViewBag.Meta_UrlCanonical" /><meta property="og:url" content="@ViewBag.Meta_Url" /><meta property="og:title" content="@ViewBag.Meta_Title" /><meta property="description" content="@ViewBag.Meta_Description" /><meta property="og:description" content="@ViewBag.Meta_Description" /><meta property="og:image" content="@ViewBag.Meta_Image" />
}