﻿ @model Web_CrowdBook.Models.LibraryModel
@{
    if(Model.IsSearch){
        ViewBag.Title = "CrowdBook - " + Model.Search;
    }
    else{
        ViewBag.Title = "CrowdBook - Mi Biblioteca";
    }
}
<div id="my-groups">
    <div class="panel-search">
        <div class="panel-search-inner"><span class="label-s">Buscar recursos</span>
            <div class="search-1">
                @using (Html.BeginForm("SearchProducts", "Library", FormMethod.Post, new { @class = "form-horizontal" })){
                    <div class="inner radius-10 wt-ico"><input id="txtSearch" type="search" name="search" placeholder="Nombre del recurso" value="@Model.Search" /><i class="ico-search"></i></div>
                }
            </div>
        </div>
    </div>
    @if(Model.Products.Products.Count > 0){
        <div id="list-items">@Html.Partial("../Shared/Common/_Resources", Model.Products)</div>
        <div id="no-reg" class="alert alert-success hide">¡No se encontró ningún Recurso para esta búsqueda!</div>
    }
    else{
        if(Model.IsSearch){
            <div class="alert alert-success">¡No se encontró ningún Recurso para esta búsqueda!</div>
        }
        else{
            <div class="alert alert-success">¡No posees ningún Recurso!</div>
        }
    }
    <input id="txtPage" type="hidden" value="@(Model.Page + 1)" />
    <input id="txtLastSearch" type="hidden" value="" />
    <input id="txtIsSearching" type="hidden" value="0" />
</div> 

@if(ViewBag.GlobalAlertMessage != null){
    <div class="@ViewBag.GlobalAlertClass"><button type="button" class="close" data-dismiss="alert">&times;</button>@Html.Raw(ViewBag.GlobalAlertMessage)</div>
}
@Html.AntiForgeryToken()
@section scripts{
    @Scripts.Render("~/bundles/library")
}