﻿@model Web_CrowdBook.Models.GroupCreatedModel
@{
    ViewBag.Title = "Grupo Creado en CrowdBook";
}
<div id="page-content" style="padding-top:8px; padding-left:10px; overflow:hidden;">
<div class="block-content clearfix"><div style="width:100%; max-width:800px; min-height:505px; margin:0 auto; text-align:center; ">
    <h1 style="margin:40px 0 50px 0; font-weight:bold; font-size:25px;">Grupo creado exitosamente</h1>
    <p>El Grupo de @Model.Group.GroupType.Description "@Model.Group.Name" fue creado exitosamente. <br /> Este es el código PIN de tu grupo:</p>
    <div class="text-center" style="margin:40px auto 100px auto;"><strong style="padding:10px 30px; background-color:#666; color:#fff; font-size:17px;">@Model.Group.Pin</strong></div>
    <div class="col-md-12">
        <div class="col-md-6 pad-right-0">
            <div class="col-md-10 pull-right">
                <a class="btn btn-block" href="@Url.Action("Index", "MyGroups")" style=""><i class="icon-ok"></i>&nbsp;Volver a Mis Grupos</a>
            </div>
        </div>
        <div class="col-md-6 pad-left-0">
            <div class="col-md-10 pull-left">
                <a class="btn btn-block" href="@Url.Action("Index", "Group", new { id = Model.Group.IdGroup, name = Web_CrowdBook.Utils.Utils.FormatUrl(Model.Group.Name) })" style="background-color:#339933; color:#fff;"><i class="icon-ok"></i>&nbsp;Ir al Dashboard del Grupo</a>
            </div>
        </div>
    </div>
</div></div></div>