﻿@font-face {
    font-family:'OpenSans';
    font-style:normal;
    font-weight:300;
    src:url(Fonts/OpenSans.woff2) format('woff');
}
@font-face {
  font-family:'FontsTitlesCrowd';
  font-style:normal;
  font-weight:700;
  src:url(Fonts/Signika-Bold.woff) format('woff');
}
body { margin:0; color:#333; text-align:left; font-size:14px; font-family:'OpenSans', sans-serif; font-weight:300; }
html, body, form, div, span, ul, ol, li, p, h1, h2, h3, h4, h5, h6, a, img { margin:0; padding:0; outline:none; }
html, body { min-height:100%; background-color:#f9f9f9; }
h1, h2, h3 { font-family:'Signika', sans-serif; /*font-family:'MyWebFont', Fallback, sans-serif;*/ }
ul li, ol li { list-style:none; }
a, img { border:0; outline:none; text-decoration:none; }
a img { border-width:0; }
a:link { color:#0889C4; text-decoration:none; }
a:visited { color:#0889C4; text-decoration:none; }
a.btn, a.btn:hover { color:#fff; }
.t-trans-capit { text-transform:capitalize }
.t-trams-capit-u { text-transform:lowercase; }
.t-trams-capit-u:first-letter { text-transform:uppercase; }
.margin-auto { margin-left:auto; margin-right:auto; }
.marg-left-0 { margin-left:0 !important; }
.marg-right-0 { margin-right:0 !important; }
.pad-left-0 { padding-left:0 !important; }
.pad-right-0 { padding-right:0 !important; }
.pos-relative { position:relative; }
.pos-absolute { position:absolute; }
.d-block { display:block; }
.c-point { cursor:pointer; }
.f-w-normal { font-weight:normal; }
.no-wrap-ellips { white-space:nowrap; overflow:hidden; text-overflow:ellipsis; }
.overflow-ellips { overflow:hidden; text-overflow:ellipsis; }
.break-word { word-wrap:break-word; overflow:hidden; text-overflow:ellipsis; }
.image_wrap { overflow:hidden; text-align:center; }
.opacity_30 { filter:alpha(opacity=30); opacity:0.3;  }
textarea { resize:none; }
input[type="file"] { height:35px; padding:0 !important; }
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { *zoom: 1; }
/*Round*/
.round-img-a { display:inline-block; vertical-align:middle; border-radius:2px; box-sizing:border-box; }
.round-img { display:inline-block; overflow:hidden; background-color:#FFF; border:1px solid #f3f3f3; vertical-align:top; box-sizing:border-box; -moz-border-radius:50%; -webkit-border-radius:50%; border-radius:50%; }
.round-img .round-img-inner { display:table-cell; vertical-align:middle; text-align:center; border-spacing:0px; }
.round-img .round-img-inner a { border-spacing:0px; }
.round-50 { border-radius:50%; -moz-border-radius:50%; -webkit-border-radius:50%; }
.radius-5 { -moz-border-radius:5px; -webkit-border-radius:5px; border-radius:5px; }
.radius-10 { -moz-border-radius:10px; -webkit-border-radius:10px; border-radius:10px; }

body.size_960 { min-width:960px; }
.size-dym { width:960px; margin:0 auto; padding:0 5px; }
.size-dym-fill { min-width:960px; margin:0 auto; padding:0 10px; }
.l-down-fill { position:absolute; top:0px; bottom:0px; left:0px; right:0px; border:0; outline:none; text-decoration:none; }
.loading { background:#fff url('../Images/loading.gif') no-repeat bottom left; }
.loading-32 { background-image:url('/Images/loading48.gif'); background-repeat:no-repeat; background-position:center center; }
.loading-items { padding-bottom:65px; background:url('/Images/loading48.gif') no-repeat bottom center; }
.file-custom { height:300px !important; margin:0; padding:0; position:absolute; right:0; bottom:0; font-size:1000px !important; opacity:0; cursor:inherit; }
.wrapper-upload { width:100%; height:100%; overflow: hidden; position:absolute; top:0; right:0; }
#modal-loading { width:420px; height:300px; margin:100px auto; padding:50px; text-align:center; overflow:hidden; }
.modal-loading-s { width:300px; height:160px; margin:40px auto 0 auto; background-color:#FFF; background:#FFF url('/Images/loading48.gif') no-repeat center center; }

.modal-generic { margin:0 auto; text-align:center; overflow:hidden; }
.modal-generic .inner-loadding { margin:100px auto 0 auto; padding:30px 20px; background-color:#fff; }
.inputs-g input, .inputs-g textarea, .inputs-g select { background-color:#F9F9F9; border:0; box-shadow:none; }
.ico-logo, .ico-drodown, .ico-search, .ico-bell, .ico-star, .ico-bin, .ico-click, .ico_edit, .ico-lenguage, .ico-opt { background:url('/Images/main.png') no-repeat; }
/*Custom Checks y Radios*/
input[type="checkbox"].custom, input[type="radio"].custom  { display:none; }
input[type="checkbox"].custom + label, input[type="radio"].custom + label { font-size:14px; font-family:Arial, sans-serif; }
input[type="checkbox"].custom + label span, input[type="radio"].custom + label span { width:16px; height:16px; margin:-2px 5px 0 0; display:inline-block; vertical-align:middle; cursor:pointer; }
input[type="checkbox"].custom + label span { background:url(/Images/checks.png) left top no-repeat; }
input[type="checkbox"].custom:checked + label span { background:url(/Images/checks.png) -19px top no-repeat; }
input[type="radio"].custom + label span { background:url(/Images/checks.png) -38px top no-repeat; }
input[type="radio"].custom:checked + label span { background:url(/Images/checks.png) -56px top no-repeat; }
/*Custom Big Checks y Radios*/
.check-custom-big-desc { margin-top:3px; }
input[type="checkbox"].custom-big, input[type="radio"].custom-big  { display:none; }
input[type="checkbox"].custom-big + label span, input[type="radio"].custom-big + label span { width:55px; height:55px; margin:0 5px 2px 0; display:inline-block; vertical-align:middle; cursor:pointer; }
input[type="checkbox"].custom-big + label span { background-color:#DDD; }
input[type="checkbox"].custom-big:checked + label span { background-color:#333; }
input[type="radio"].custom-big + label span { background-color:#DDD; border-radius:50%; }
input[type="radio"].custom-big:checked + label span { background-color:#333; border-radius:50%; }

i { display:inline-block; }
.ico-logo { background-position:0 0; width:37px; height:37px; } 
.ico-star { background-position:-114px -50px; width:16px; height:16px; }
.ico_edit { background-position:-26px -41px; width:32px; height:32px; }
.ico-bell { background-position:0 -42px; width:23px; height:30px; }
.ico_lock { width:20px; height:20px; background:url('/Images/lock.png') no-repeat; }
.ico-bin { background-position:-92px -46px; width:20px; height:20px; filter:alpha(opacity=60); opacity:0.6; }
.ico-click { background-position:-61px -42px; width:30px; height:30px; }
.ico-attach { background:url('/Images/attach.png') no-repeat; background-size:8px 16px; width:8px; height:16px; }
.ico-drodown { background-position:-136px -50px; width:16px; height:16px; }
.ico-search { background-position:-184px -84px; width:16px; height:16px; }
.ico-download-app { background:url('/Images/download_app.png') no-repeat; width:100px; height:35px; }
.ico-download-android { background:url('/Images/download_app.png') no-repeat -104px 0; width:40px; height:35px; }
.ico-download-apple { background:url('/Images/download_app.png') no-repeat -149px 0; width:40px; height:35px; }
.ico_check { background:url('../Images/ic_check.png') no-repeat bottom right; }
.ico-opt { background-position:-140px -70px; width:8px; height:30px; }
.ico-lenguage { background-position:-160px 0; width:40px; height:35px; }
.ico-point-green, .ico-point-green-light, .ico-point-orange, .ico-point-orange-light, .ico-point-blue, .ico-point-blue-light { width:10px; height:11px; background:url('/Images/slides.png') no-repeat; }
.ico-point-green { background-position:0 -15px; }
.ico-point-green-light { background-position:0 0; }
.ico-point-orange { background-position:-15px -15px; }
.ico-point-orange-light { background-position:-15px 0; }
.ico-point-blue { background-position:-30px -15px; }
.ico-point-blue-light { background-position:-30px 0; }
.ico-close { background:url('/Images/ic_close.png') no-repeat; width:24px; height:24px; }
.ico-close-white { background:url('/Images/ic_close_white.png') no-repeat; width:24px; height:24px; }
.ico-edit { background:url('/Images/ic_edit.png') no-repeat center center; }
.ico_facebook, .ico_twitter, .ico_gplus { width:48px; height:48px; background-image:url('/Images/social_networks.jpg'); background-repeat:no-repeat; }
.ico_facebook { background-position:0 0; }
.ico_twitter { background-position:-92px 0; }
.ico_gplus { background-position:-46px 0; }

.bg-green { background-color:#4EB876; color:#fff; }
.bg-blue { background-color:#3492BE; color:#fff; }
.bg-orange { background-color:#FF943C; color:#fff; }
.c-orange { color:#FF943C; }
.c-green { color:#4EB876; }
.transparent { zoom:1; background-color:rgba(0,0,0,0.5); }
.block-transaprent { padding:7px 10px; background-color:#000; color:#FFF; zoom:1; background-color:rgba(0,0,0,0.6); }
.alert { width:100%; padding:10px 15px; display:block; line-height:normal; }
.alert.fixed { position:absolute; top:65px; left:0; z-index:100; }
.btn-secondary { background-color:#666; color:#fff; }
.validation-summary-errors, .field-validation-error { color:#C00; line-height:19px; font-size:12.5px; }
.list-validations-errors label { display:block; }
label.error, .error-font { color:#C00; font-weight:normal; font-size:12.5px; }
.validate-errors label.error { display:block; color:inherit; font-size:inherit; }

/*Not using yet*/
/*.opts { position:absolute; display:inline-block; z-index:100; }
.opts.t { top:5px; }
.opts.b { bottom:5px; }
.opts.r { right:7px; }
.opts.l { left:7px; }
.opts-mn { position:absolute; right:0; background-color:#FFF; display:none; font-size:12px; background-clip:padding-box; border:1px solid rgba(0, 0, 0, 0.15); border-radius:3px; box-shadow:0px 3px 8px rgba(0, 0, 0, 0.3); }
.opts-mn.w-opt1 { top:10px; }
.opts-mn .opts-ul { padding:5px 0px; }
.opts-mn .opts-a { color:#141823; display:block; border-style:solid; border-color:#FFF; border-width:1px 0px; line-height:22px; text-decoration:none;}
.opts-mn .opts-a:hover { background-color:#4EB876; color:#fff; }
.opts-mn .opts-a span { display:block; padding:0 13px; }*/
.search-1 { float:left; width:280px; }
.search-1 .inner { width:270px; height:31px; margin-top:0; padding:5px 31px 5px 12px; background-color:#FFF; border:1px solid #CCC; position:relative; overflow:hidden; }
.search-1 .inner.wt-ico { padding-right:12px; }
.search-1 .inner input { width:100%; padding:0; background-color:transparent; border:0; outline:none; color:#000; font-size:15px; }
.search-1 .inner .ico-search { position:absolute; top:8px; right:8px; }
.search-1 .inner.wt-ico .ico-search { display:none; }
#page-content { padding-top:0; }
#wrap_header { background-color:#4EB876; }
#header { height:65px; margin:0 auto; position:relative; background-color:#4EB876; font-size:16px; }
#header .logo { float:left; margin-top:14px; }
#header .logo i u { position:absolute; top:-9999999px }
#header .logo .crowdbook_ijsg { display:inline-block; } 
#header, #header a { color:#fff; }
#header #menu-nav { float:left; margin-left:70px; overflow:hidden; }
#header #menu-nav.pull-right { float:right; }
#header #menu-nav ul { margin-top:22px; overflow:hidden; }
#header #menu-nav li { float:left; margin-left:18px; list-style:none; }
#header #menu-nav li i { display:inline-block; }
#header #menu-nav li.download ul { margin:0 !important; padding:0 !important; }
#header #menu-nav li.download ul li { float:left; margin:0 !important; padding:0 !important; }
#header #menu-nav li.last { margin-left:8px !important; margin-right:5px; }
#header #menu-notification { float:left; margin-left:30px; }
#header #menu-notification ul { margin-top:19px; }
#header #menu-notification ul li { float:left; zoom:1; filter:alpha(opacity=90); opacity:0.9; }
#header #menu-notification ul li .ico-bell { display:block; }
#header #menu-search { float:left; width:300px; margin-top:17px; margin-left:40px; }
#header #menu-search .inner { width:290px; height:31px; margin-top:0; padding:5px 10px 5px 31px; background-color:#FFF; border:none; position:relative; overflow:hidden; 
                            -moz-border-radius:20px; -webkit-border-radius:20px; border-radius:22px; }
#header #menu-search .inner input { width:100%; padding:0; background-color:transparent; border:0; outline:none; color:#000; font-size:15px; }
#header #menu-search .inner .ico-search { position:absolute; top:8px; left:8px; }
/*Mientras se activan las notificacines*/
#header #menu-notification { visibility:hidden; }
#header #menu-search { width:330px; }
#header #menu-search .inner { width:320px; }

#header #menu-user { float:right; max-width:220px; }
#header #menu-user ul { margin-top:8px; font-size:14px; }
#header #menu-user li.list-main { float:left; list-style:none; }
#header #menu-user li.list-main .avatar { width:50px; height:50px; margin-top:1px; overflow:hidden; }
#header #menu-user li.list-main .avatar .round-img-inner { width:50px; height:50px; }
#header #menu-user li.list-main .avatar a img { width:50px; height:50px; }
#header #menu-user li.list-main.userinfo { max-width:130px; margin:0 0 0 10px; white-space:nowrap; overflow:hidden; text-overflow:ellipsis; }
#header #menu-user li.list-main.userinfo .name { margin-top:6px; margin-bottom:3px; display:block; overflow:hidden; }
#header #menu-user li.list-main.userinfo .name.not-institution { margin-top:15px; margin-right:3px; }
#header #menu-user li.list-main.userinfo .institution { font-size:90%; overflow:hidden; }
#header #menu-user li#menu-user-main { float:left; margin-left:0; list-style:none; position:relative; }
#header #menu-user li#menu-user-main .ico-drodown { margin-top:17px; margin-left:4px; display:inline-block; cursor:pointer; }
#header #menu-user li#menu-user-main .menu-drop { width:230px; padding:5px 9px 6px 9px; display:none; background-color:#FFF; border:1px solid #4EB876; position:absolute; top:34px; right:0; z-index:90; -moz-border-radius:5px; -webkit-border-radius:5px; border-radius:5px; }
#header #menu-user li#menu-user-main .menu-drop li, #header #menu-user li#menu-user-main .menu-drop li a { color:#388D58; }
#header #menu-user li#menu-user-main .avatar { float:left; width:75px; height:75px; overflow:hidden; }
#header #menu-user li#menu-user-main .avatar a img { width:75px; height:75px; }
#header #menu-user li#menu-user-main ul.navigation { margin-top:0; font-size:13px; }
#header #menu-user li#menu-user-main ul.navigation li { margin-bottom:2px; line-height:28px; border-bottom:1px solid #ccc; }
#header #menu-user li#menu-user-main ul.navigation li a { display:block; }
#header #menu-user li#menu-user-main ul.navigation li a:hover { text-decoration:underline; }
#header #menu-user li#menu-user-main ul.navigation li.name { margin-top:2px; margin-bottom:3px; border-bottom:0; font-size:15px; }
#header #menu-user li#menu-user-main ul.navigation li.name strong { display:block; border-bottom:1px solid #388D58; }
#header #menu-user li#menu-user-main ul.navigation li.name strong a { color:#388D58; }
#header #menu-user li#menu-user-main ul.navigation li.logout { margin-bottom:0; border-bottom:0; }
#header #menu-user li#menu-user-main ul.navigation li.logout a { color:#333; }
@media (min-width:960px) {
    #wrap_header { position:fixed; top:0px; left:0px; right:0px; z-index:99; }
    #page-content { margin-top:65px; }
}
#main_pag { margin-bottom:150px; padding-bottom:45px; }
.body-start #main_pag { margin-bottom:0; padding-bottom:0; }
#footer { width:100%; margin-top:-45px; border-top:1px solid #CCC; position:relative; clear:both; }
#footer .inner { margin:0 auto 0 auto; padding:7px 0 10px 0; text-align:center; line-height:21px; text-transform:none; letter-spacing:0; }
#footer .inner .policy { margin-left:15px; display:inline-block; }
#footer .inner .policy li { list-style:circle; }
#footer .split { margin:0 7px; }
#col-left { float:left; width:165px; margin-top:10px; overflow:hidden; font-size:14px; }
@media (min-width:960px) and (min-height:600px) {
    #col-left { float:none; position:fixed; top:65px; }
}
#col-left .avatar, #col-left .avatar .round-img-inner { width:90px; height:90px; }
#col-left .avatar { margin:0 10px; overflow:hidden; }
#col-left .avatar img { max-width:90px; max-height:90px; }
#col-left .user { margin-top:10px; text-align:left; line-height:18px; }
#col-left .user a strong { max-height:37px; line-height:18px; color:#333; font-size:15px; display:block; }
#col-left .user h5 { margin-top:2px; font-size:14px; line-height:18px; }
#col-left .navigation { margin-top:20px; }
#col-left .navigation li:first-child { margin-bottom:13px; }
#col-left .navigation li { margin-bottom:15px; }
#col-left .navigation li a { color:#333; }
#col-left .navigation li i { float:right; min-width:35px; padding:1px 10px; display:block; text-align:center; font-size:12px; font-style:normal; -moz-border-radius:25px; -webkit-border-radius:25px; border-radius:25px; }
#side-main { margin-left:180px; min-height:300px; }

#modal-login .modal-dialog { width:400px; }
#modal-login .modal-content { padding:30px; }
#modal-login .modal-content h4 { margin:0 0 25px 0; }
#modal-login .modal-content .form-buttons { margin:25px 0 0 0; }
#modal-login .modal-content .form-buttons .col-xs-12 { padding:0; }
#modal-login .modal-content .form-buttons .pull-right { margin-left:10px; }
#modal-login .modal-content .form-buttons .buttom-link { margin-top:7px; }
#modal-register .modal-dialog { width:420px; }
#modal-register .modal-content { padding:30px; }
#modal-register .modal-content h4 { margin:5px 0 25px 0; }
#modal-register .modal-content .form-buttons { margin:25px 0 0 0; }
#modal-register .modal-content .form-buttons .col-xs-12 { padding:0; }
#modal-register .modal-content .form-buttons .pull-right { margin-left:10px; }
#modal-register .modal-content .form-buttons .buttom-link { margin-top:7px; }
#modal-request .modal-dialog { width:400px; }
#modal-request .modal-content { padding:30px; }
#modal-request .modal-content h4 { margin:2px 0 23px 0; font-size:19px; }
#modal-request .modal-content .description { line-height:25px; text-align:justify; }
#modal-request .modal-content .description strong { color:#4EB876; font-size:15px; font-weight:bold; }
#modal-request .modal-content .form-buttons { margin:35px 0 0 0; padding-top:15px; border-top:1px solid #CCC; text-align:right; }
#modal-request .modal-content .form-buttons input { margin-left:10px; }

#mod-res-prev .modal-dialog { width:500px; }
#mod-res-prev .modal-content { padding:30px; position:relative; }
#mod-res-prev .modal-content h4 { margin:2px 0 25px 0; font-size:19px; }
#mod-res-prev .modal-content .avatar { float:left; width:130px; height:130px; overflow:hidden; }
#mod-res-prev .modal-content.big .avatar { float:none; width:auto; height:150px; text-align:center; }
#mod-res-prev .modal-content .description { min-height:130px; margin-left:145px; line-height:25px; text-align:justify; }
#mod-res-prev .modal-content.big .description { min-height:initial; margin-left:0; }
#mod-res-prev .modal-content .description strong { color:#4EB876; font-size:15px; font-weight:bold; }
#mod-res-prev .modal-content .form-buttons { margin:30px 0 0 0; padding-top:15px; border-top:1px solid #CCC; text-align:right; }
#mod-res-prev .modal-content.big .form-buttons { margin-top:40px; }
#mod-res-prev .modal-content .form-buttons input, #mod-res-prev .modal-content .form-buttons a { margin-left:10px; }
#mod-res-prev .modal-content .form-buttons.loading { background:#fff url('/Images/loading32.gif') no-repeat bottom left; }
#mod-res-prev .modal-content .msg-drm { font-size:12px; }
#mod-res-prev .modal-content .ico-close { position:absolute; top:2px; right:3px; }

/* ListGroups */
.list-groups { margin-right:-10px; display:block; }
.list-groups li.group { float:left; margin:0 12px 12px 0;position:relative; list-style:none; text-align:center; }
.list-groups li.group, .list-groups li.group .detail-group, .list-groups li.group .avatar { width:373px; height:230px; }
.list-groups li.group, .list-groups li.group a { color:#fff;  }
.list-groups li.group .detail-group { position:absolute; top:0; left:0;  }
.list-groups li.group .avatar { overflow:hidden; }
.list-groups li.group .avatar img { margin-top:-20px; }
.list-groups li.group h3 { max-height:50px; margin:80px 0 5px 0; padding:0 10px; font-size:22px; font-weight:bold; overflow:hidden; text-transform:capitalize; }
.list-groups li.group strong { padding:0 10px; overflow:hidden; display:block; font-weight:normal; text-transform:capitalize; }
.list-groups li.group .counters b { display:block; font-size:17px; }
.list-groups li.group .counters span { font-size:13px; }
.list-groups li.group .members, .list-groups li.group .resources { position:absolute; bottom:7px; }
.list-groups li.group .members { left:10px; }
.list-groups li.group .resources { right:10px; }
.list-groups li.group .ico_lock { position:absolute; top:5px; right:5px; display:inline-block; }
/* ListResources */
.list-resource { margin:0; padding:0; }
.list-resource li.resource { float:left; width:160px; height:170px; margin:10px; position:relative; background-color:#C0C0C0; list-style:none; }
.list-resource li.resource .avatar { width:100%; height:140px; overflow:hidden; text-align:center; }
.list-resource li.resource .detail { width:100%; height:60px; position:absolute; bottom:0; text-align:center; font-size:12px; overflow:hidden; /*background-color:#000; color:#fff; zoom:1; filter:alpha(opacity=60); opacity:0.6;*/ }
.list-resource li.resource .detail h3 { max-height:35px; margin:2px 0 0 0; line-height:20px; font-size:13px; font-weight:bold; overflow:hidden; }
.list-resource li.resource .detail p { margin:5px 0 5px 0; padding:0 5px; line-height:22px; }
.list-resource.big li.resource { width:185px; height:200px; margin:2px; }
.list-resource.big li.resource .avatar { height:180px; }
.list-resource li.resource .ico_lock { position:absolute; top:5px; right:5px; display:inline-block; }
.list-resource li.resource.loading { background-image:url('/Images/loading32.gif'); background-repeat:no-repeat; background-position:top left; }
#group .list-resource.big li.resource { width:150px !important; margin:0 2px; }

/* Muro */
#muro { padding-bottom:5px; }
#muro .new-message { margin-bottom:10px; padding:12px; background-color:#FFFFFF; position:relative; }
#muro textarea.input-message { width:440px; height:45px; padding:5px; background-color:#F3F3F3; border:0; }
#muro textarea.input-message { margin-left:15px; } /*Se debe eliminar al incluir el boton de agregar attachment al mensajes*/
#muro textarea.input-message.active { height:80px; }
#muro .new-message button { background-color:transparent; border:0; position:absolute; top:18px; margin-left:1px; }
#muro .new-message button i { display:block; }
#muro .new-message .chars-counter { position:absolute; right:14px; bottom:13px; }
#muro .list-muro { margin:0; padding:0; }
#muro .list-muro li.muro { margin:0 0 10px 0; position:relative; background-color:#fff; list-style:none; }
#muro .list-muro li.muro.loading { background:#fff url('/Images/loading32.gif') no-repeat bottom left; }
#muro .list-muro li.muro .avatar { float:left; width:70px; height:70px; margin:10px 15px 10px 20px; overflow:hidden; text-align:center; }
#muro .list-muro li.muro .avatar .round-img-inner { width:70px; height:70px; }
#muro .list-muro li.muro .avatar .round-img-inner img { max-width:70px; max-height:70px; }
#muro .list-muro li.muro .detail { margin-left:91px; padding:5px; }
#muro .list-muro li.muro .detail h4.person { margin:4px 0; color:#006600; line-height:normal; font-size:14px; font-weight:bold; }
#muro .list-muro li.muro .detail .message { min-height:35px; padding-bottom:10px; padding-right:5px; overflow:hidden; word-wrap:break-word; }
#muro .list-muro li.muro .detail .message p { margin:0; padding:0; color:#333;  }
#muro .list-muro li.muro .buttons { padding:5px 2px 5px 0; }
#muro .list-muro li.muro .buttons .date { font-size:12px; color:gray; }
#muro .list-muro li.muro .buttons a { cursor:pointer; }
#muro .list-muro li.muro .buttons .delete { float:right; }
#muro .list-muro li.muro .buttons .delete .ico-bin { display:inline-block; }
/* Members */
#group #members { margin-left:15px; }
#members { background-color:#fff; padding-bottom:5px; }
#members .tab { padding:7px 12px; background:#4EB876; color:#fff; }
#members .list-members { margin:0; padding:0; }
#members .list-members li.member { margin:0 0 10px 0; padding:0 5px; position:relative; list-style:none; }
#members .list-members li.member .detail { height:55px; padding:5px; position:relative; }
#members .list-members li.member .detail .avatar { float:left; width:50px; height:50px; overflow:hidden; text-align:center; }
#members .list-members li.member .detail .avatar .round-img-inner { width:50px; height:50px; }
#members .list-members li.member .detail .person { margin:0 0 0 60px; overflow:hidden; line-height:normal; }
#members .list-members li.member .detail h4 { margin:8px 0 5px 0; color:#006600; font-size:14px; font-weight:bold; }
#members .list-members li.member .detail strong { margin-top:2px; display:block; font-size:12px; }
#members .list-members li.member .detail h4, #members .list-members li.member .detail strong { white-space:nowrap; overflow:hidden; text-overflow:ellipsis; }

/* CropImage */
#modal-image-crop { margin-top:50px; }
#modal-image-crop .container-crop { width:750px; min-height:250px; margin:0 auto; padding:30px 20px; background-color:#fff; }

body.body-start { background-color:#4EB876; }
body.body-start #wrap_header #header { background-color:transparent; }
body.body-start #wrap_header { zoom:1; background-color:rgba(255,255,255,0.3);  }
body.body-start #wrap_header #header { font-size:13.5px; }
body.body-start #wrap_header #header #menu-nav li { margin-left:22px; line-height:40px; }
body.body-start #wrap_header #header #menu-nav ul { margin-top:15px; }
#start { padding-top:10px; color:#fff; }
#start .block-start { margin:0 auto; padding:50px 0 130px 0; text-align:center; }
#start .block-start.first { padding-top:20px; }
#start .block-start.last { padding-bottom:50px; }
#start .title { margin:0; color:#fff; font-size:80px; font-weight:bold; }
#start .title.no-subtitle { margin-bottom:20px; }
#start .sub-title { margin-top:-8px; margin-bottom:40px; font-size:25px; font-weight:normal; display:block; }
#start .sub-title-2 { margin-top:30px; font-size:21px; font-weight:normal; }
#start .block-start.second { background-color:#FFE23F; }
#start .block-start.third { background-color:#1FADC4; }
#start .block-start .slide { position:relative; }
#start .block-start .slide .nav { position:absolute; top:80px; right:10px; }
#start .block-start .slide .nav i { margin-bottom:5px; display:block; cursor:pointer; }
#start .block-start .slide #register { width:300px; margin:0 auto; text-align:left; }
#start .block-start .slide #register .validations { color:yellow; margin-bottom:5px; }
#start .block-start .slide #register label { color:#fff; font-size:17px; }
#start .block-start .slide #register input { height:40px; }
#start .block-start .slide #register .policy { margin-top:4px }
#start .block-start .slide #register .policy a {color:#fff; font-size:12px; }
#start .block-start .slide #register .form-group { margin-bottom:10px; }
#start .block-start .slide #register .form-buttons .btn { width:100%; margin-top:15px; padding:15px 0; display:block; background-color:transparent; color:#fff; border:1px solid #fff; font-size:22px; }
#start #about { margin-bottom:30px; }
#start #about .policy { margin-left:20px; display:inline-block; font-size:15px; }
#start #about .policy li { list-style:circle; }
#start #about .policy li a, #start #about .policy li a:visited { color:#fff; }
/* CreateGroup */
#create-group { width:400px; margin:10px auto; padding:21px 25px 25px 25px; background-color:#FFF; }
#create-group .title { margin:0 0 20px 0; color:#000; text-align:center; font-weight:bold; }
#create-group .col-md-12, #create-group .col-md-6 { padding:0; }
#create-group .form-split { margin-top:20px; }
#create-group .control-label { margin-bottom:5px; }
#create-group .radio-mode { margin-top:10px; }
#create-group .radio-type { width:100%; margin-top:5px; margin-bottom:10px; padding:0 70px; display:table; text-align:center; }
#create-group .pad-left-5 { padding-left:5px; }
#create-group .pad-right-5 { padding-right:5px; }
#create-group .form-buttons { margin-top:10px; }
#create-group .form-buttons .pull-right { padding-right:5px; }
#create-group .form-buttons .pull-left { padding-left:5px; }

#create-group .block-avatar { width:115px; height:115px; margin-bottom:15px; position:relative; }
#create-group .block-avatar .avatar { width:115px; height:115px; background-color:#CCC; border:0; overflow:hidden; }
#create-group .block-avatar .avatar .edit-group { width:50px; height:50px; position:absolute; top:50%; left:50%; margin-top:-25px; margin-left:-25px; }
#create-group .block-avatar .avatar .edit-group a { width:50px; height:50px; }

#create-group #main-info .validations, #create-group #main-info #div-validations { margin:0 0 7px 5px; }
#create-group #main-info .field { margin-bottom:10px; }
#create-group #main-info .col-md-12 { margin-bottom:10px; }
#create-group #main-info .label-form { margin-top:8px; padding-left:3px; }
#create-group #main-info textarea { height:95px; }
#create-group #main-info textarea.min { height:75px; }
#create-group label.error { margin-top:3px; margin-left:5px; }
#create-group .description-function { height:90px; margin-right:5px; padding:5px; background-color:#666; color:#fff; font-size:11px; }

#create-group #created .title, #create-group #created .created-inner { width:300px; margin:0 auto; }
#create-group #created .title { line-height:30px; }
#create-group #created .created-inner { margin-top:30px; margin-bottom:30px; }
#create-group #created .created-inner #created-pin { margin:5px auto; display:block; font-size:19px; }
#create-group #created .share { margin:0 0px 25px 0; }
#create-group #created .share .actions-sh { float:left; margin-left:85px; }
#create-group #created .share .actions-sh li { float:left; margin-right:20px; }
#create-group #created .share .actions-sh li:last-child { margin-right:0; }

/* MyGroups */
#my-groups { margin:0 auto; padding:10px 5px; }
#my-groups .panel-search { margin:5px 0 11px 0; padding-bottom:9px; text-align:center; border-bottom:1px solid #CCC; }
#my-groups .panel-search .panel-search-inner { width:395px; height:33px; margin:0 auto; }
#my-groups .panel-search .label-s { float:left; margin:8px 9px 0 0;  }
/* Groups */
#group { margin:0 auto; }
#group .ico_edit { position:absolute; bottom:0; right:0; background-color:#666; display:inline-block; cursor:pointer; }
#group #profile-group { height:250px; margin:0 0 5px 0; padding:0; position:relative; }
#group #profile-group #cover { height:250px; background-color:#4EB876; text-align:center; position:relative; overflow:hidden; }
#group #profile-group #cover .edit-group { padding:5px 7px; position:absolute; bottom:0; right:0; z-index:8; text-align:center; font-weight:bold; cursor:pointer; }
#group #profile-group .edit-group { visibility:hidden; }
#group #profile-group:hover .edit-group { visibility:visible; }
#group #profile-group #cover .edit-group a { color:#FFFFFF; }
#group #profile-group #profile { position:absolute; top:0; left:0; }
#group #profile-group #profile #block-avatar { width:135px; position:absolute; top:45px; left:30px; z-index:7; }
#group #profile-group #profile #block-avatar #avatar-group { max-width:135px; max-height:135px; border:0; overflow:hidden; }
#group #profile-group #profile #block-avatar #avatar-group .edit-group { padding:55px 10px; color:#FFFFFF; position:absolute; top:0; bottom:0; right:0; left:0; text-align:center; font-weight:bold; display:table-cell; vertical-align:middle; cursor:pointer; display:none; }
#group #profile-group #profile #block-avatar #avatar-group .edit-group a { color:#FFFFFF; }
#group #profile-group #profile #detail-group { width:770px; height:250px; margin-top:0; font-size:14px; position:relative; z-index:5; }
#group #profile-group #profile #detail-group #detail-group-inner { height:250px; padding:30px 25px 30px 190px; }
#group #profile-group #profile #detail-group * { filter:alpha(opacity=100); opacity:1; }
#group #profile-group #profile #detail-group a { color:#FFF; }
#group #profile-group #profile #detail-group h1 { margin:0 0 5px 0; font-size:27px; font-weight:bold; color:#fff; }
#group #profile-group #profile #detail-group p { min-height:40px; margin-bottom:5px; line-height:21px; }
#group #profile-group #profile #detail-group h1, #group #profile-group #profile #detail-group p { word-wrap:break-word; }
#group #profile-group #profile #detail-group .stars { /*visibility:hidden; margin-bottom:5px;*/ }
#group #profile-group #profile #detail-group .ico-star { margin:1px; display:inline-block; }
#group #profile-group #profile #detail-group .counters { margin-top:15px; overflow:hidden; line-height:21px; }
#group #profile-group #profile #detail-group .counters .count { float:left; margin-right:70px; }
#group #profile-group #profile #detail-group .counters .count b { margin-right:8px; text-align:center; font-size:16px; }
#group #profile-group #profile #detail-group #group-navigation { position:absolute; bottom:32px; right:20px; }
#group #profile-group #profile #detail-group #group-navigation li { float:left; margin-left:17px; }
#group #profile-group #profile #detail-group #group-navigation li a { text-decoration:underline; }
#group #profile-group #profile #detail-group .actions_up { top:20px; right:20px; }
#group #resource-group { overflow:hidden; }
#group #list-resource-min { }
#group #list-resource-min.data-zero { width:770px; height:200px; background:url('../Images/book_data_zero.png') no-repeat 0 0; }
/*#group .resource-buttons { float:right; width:175px; height:200px; }
#group .resource-buttons li { background-color:#DDDDDD; width:100%; height:100px; display:table; text-align:center; }
#group .resource-buttons li.alt { background-color:#C0C0C0; }
#group .resource-buttons li span { color:#C0C0C0; display:table-cell; vertical-align:middle; }
#group .resource-buttons li.alt span { color:#DDDDDD; }
#group .resource-buttons li span a { cursor:pointer; }
#group .resource-buttons li span a.disabled { color:gray; cursor:default; }*/

#group .actions-resource { margin-top:5px; padding:5px 12px; background-color:#FFF; font-size:12px; }
#group .actions-resource li { margin-right:20px; }
#group .actions-resource li span a { color:#666; }
#group .actions-resource li i { margin-left:2px; margin-bottom:-3px; }

#group #content-group { margin-top:8px; }
#group .content-group-panel { margin:0; padding:0; }
#group #modal-resource-more { width:950px; margin:25px auto; padding:7px; margin-left:-475px; left:50%; background-color:#fff; }
#group #modal-resource-more.data-zero { background:url('../Images/book_data_zero.png') no-repeat center center; background-color:#D7D7D7; }
#group #modal-resource-more .close-modal { position:fixed; top:4px; right:4px; }
#group #div-validations-res { margin:5px 0; color:red; }
#group #modal-joining { width:550px; height:355px; }
#group #modal-joining .inner-loadding { width:300px; }
#group #modal-joining .inner-loadding p { padding-top:25px; }
/* Account */
#account { padding:30px 10px; }
#account h4 { margin-bottom:15px; }
#account #register { float:left; width:440px; margin-right:55px; }
#account #register .validate-errors label.error { margin-bottom:0; }
#account #split { float:left; width:1px; height:450px; margin:0 auto; border-left:1px solid #CCC }
#account #login { float:left; width:320px; margin-left:55px; }
#account .input-group-addon { background:url('../Images/ic_info.png') no-repeat center center; }