﻿@model Nullable<System.DateTime>
<div class="container-date row">
      @Html.DropDownListFor(dateTime => dateTime.Value.Month, new List<SelectListItem> { new SelectListItem() { Value = "0", Text = "Mes" } }.Union(
             from itemx in Enumerable.Range(1, 12)
             select new SelectListItem 
                {
                    Value = itemx.ToString(),
                    Text = System.Globalization.CultureInfo.CurrentUICulture.DateTimeFormat.GetMonthName(itemx),
                    Selected = Model.HasValue ? (itemx == Model.Value.Month && Model != DateTime.MinValue && Model != DateTime.MaxValue) : false
                })             
             , new { @class = "month col-md-4", data_toogle = "tooltip", title = "Seleccionar Mes" })
    
      @Html.DropDownListFor(dateTime => dateTime.Value.Day, new List<SelectListItem> { new SelectListItem() { Value = "0", Text = "Día" } }.Union(       
             from itemx in Enumerable.Range(1, 31)
             select new SelectListItem 
                {
                    Value = itemx.ToString(),
                    Text = itemx.ToString(),
                    Selected = Model.HasValue ? (itemx == Model.Value.Day && Model != DateTime.MinValue && Model != DateTime.MaxValue) : false
                })             
             , new { @class = "month col-md-4", data_toogle = "tooltip", title = "Seleccionar Dia" })
    
      @Html.DropDownListFor(dateTime => dateTime.Value.Year, new List<SelectListItem> { new SelectListItem() { Value = "0", Text = "Año" } }.Union(     
             from itemx in Enumerable.Range(DateTime.Now.Year - 91, 95).OrderByDescending(x => x)
             select new SelectListItem 
                {
                    Value = itemx.ToString(),
                    Text = itemx.ToString(),
                    Selected = Model.HasValue ? (itemx == Model.Value.Year && Model != DateTime.MinValue && Model != DateTime.MaxValue) : false
                })    
             , new { @class = "month col-md-4", data_toogle = "tooltip", title = "Seleccionar Año" })

    @* @Html.ValidationMessageFor(dateTime => dateTime.Value.Day)
    @Html.ValidationMessage("values")
   @Html.DropDownListFor(dateTime => dateTime.Value.Hour, Enumerable.Range(0,25).OrderByDescending(x => x).Select(i => new SelectListItem
    {
        Value = i.ToString(),
        Text = i.ToString(),
        Selected = Model.HasValue ? (i == Model.Value.Hour && Model != DateTime.MinValue && Model != DateTime.MaxValue) : false
    }), "Hour", new { @class = "hour form-control", data_toogle = "tooltip", title = "Select hour" })
    <span class="hour-separation">:</span>
    
    @Html.DropDownListFor(dateTime => dateTime.Value.Minute, Enumerable.Range(0,61).OrderByDescending(x => x).Select(i => new SelectListItem
    {
        Value = i.ToString(),
        Text = i.ToString(),
        Selected = Model.HasValue ? (i == Model.Value.Minute && Model != DateTime.MinValue && Model != DateTime.MaxValue) : false
    }), "Minutes", new { @class = "minute form-control", data_toogle = "tooltip", title = "Select minute" })*@    
</div>

@*@section scripts{
    <script type="text/javascript">
        'use strict';
        var DateValidations =
        {
            Init: function () {
                $.validator.addMethod("ValidateDateByDay", function (value, element) {
                    return DateValidations.ValidateDate(parseInt($(element).next().next().val()), parseInt($(element).next().val()), parseInt(value));
                }, datepickerSettings.errorMessage);
                $.validator.addClassRules('Day', { ValidateDateByDay: true });
                $('select.Month').change(DateValidations.ValidateDaysByMonth);
                $('select.Year').change(DateValidations.ValidateDaysByYear);
                $('select.Day').change(DateValidations.ValidateDaysByDay);
                $(document).on('submit', 'form', DateValidations.ValidateValues);
            },
            ValidateLeapYear: function (year) {
                return isLeap = new Date(year, 1, 29).getMonth() == 1;
            },
            DaysInMonth: function (year, month) {
                return new Date(year, month, 0).getDate();
            },
            ValidateDaysByDay: function () {
                $('form').validate().element($(this))
            },
            ValidateDaysByMonth: function () {
                $('form').validate().element($(this).prev())
            },
            ValidateDaysByYear: function () {
                $('form').validate().element($(this).prev().prev());
            },
            ValidateDate: function (year, month, day) {
                if (!isNaN(year) && !isNaN(month) && !isNaN(day)) {
                    var daysOfMonth = DateValidations.DaysInMonth(year, month);
                    if (day <= daysOfMonth)
                        return true;
                    else
                        return false;
                }
                else
                    return true;
            },
            ErrorHandler: function (error, element) {
                $(error).next().next().empty().append(element);
            },
            ValidateValues: function (e) {
                $('select.Day').each(function () {
                    if ($(this).val() != "" && $(this).next().val() == "" && $(this).next().next().val() == "") {
                       $(this).next().next().next().next().empty().removeClass('field-validation-valid').addClass('field-validation-error').append('<span for="Description" generated="true" class="" style="">You must enter a complete date</span>');
                       e.preventDefault();
                    }
                    else if($(this).val() == "" && $(this).next().val() != "" && $(this).next().next().val() == ""){
                        $(this).next().next().next().next().empty().removeClass('field-validation-valid').addClass('field-validation-error').append('<span for="Description" generated="true" class="" style="">You must enter a complete date</span>');
                        e.preventDefault();
                    }
                    else if($(this).val() == "" && $(this).next().val() == "" && $(this).next().next().val() != ""){
                        $(this).next().next().next().next().empty().removeClass('field-validation-valid').addClass('field-validation-error').append('<span for="Description" generated="true" class="" style="">You must enter a complete date</span>');
                        e.preventDefault();
                    }
                    else if ($(this).val() != "" && $(this).next().val() != "" && $(this).next().next().val() == "") {
                        $(this).next().next().next().next().empty().removeClass('field-validation-valid').addClass('field-validation-error').append('<span for="Description" generated="true" class="" style="">You must enter a complete date</span>');
                        e.preventDefault();
                    }
                    else if ($(this).val() == "" && $(this).next().val() != "" && $(this).next().next().val() != "") {
                        $(this).next().next().next().next().empty().removeClass('field-validation-valid').addClass('field-validation-error').append('<span for="Description" generated="true" class="" style="">You must enter a complete date</span>');
                        e.preventDefault();
                    }
                    else if ($(this).val() != "" && $(this).next().val() == "" && $(this).next().next().val() != "") {
                        $(this).next().next().next().next().empty().removeClass('field-validation-valid').addClass('field-validation-error').append('<span for="Description" generated="true" class="" style="">You must enter a complete date</span>');
                        e.preventDefault();
                    }
                    else {
                        $(this).next().next().next().next().empty().removeClass('field-validation-error').addClass('field-validation-valid');
                        console.log('hola');
                    }
                });
            }
        }

        $(document).ready(function () {
            DateValidations.Init();
        });
    </script>
}*@