﻿@model Web_CrowdBook.Models.ErrorModels
@{
    ViewBag.Title = "CrowdBook - Ha ocurrido un error";
    Layout = "~/Views/Shared/_LayoutWithLogin.cshtml";
}
<div id="page-content">
    <div class="alert alert-warning" style="margin-bottom:175px; position:relative; top:40px; line-height:normal;">@Model.Description</div>
</div>