﻿@model Web_CrowdBook.Models.MyGroupsModel
@{
    if(Model.IsSearch){
        ViewBag.Title = "CrowdBook - " + Model.Search;
    }
    else{
        ViewBag.Title = "CrowdBook - Mis Grupos";
    }
}
<div id="my-groups" data-type="@(!Model.IsSearch ? "1" : "2")">
    @if(Model.Groups != null && Model.Groups.Groups.Count > 0){
        <div id="list-items">@Html.Partial("../Shared/Common/_Groups", Model.Groups)</div>
    }
    else{
        if(Model.IsSearch){
            <div class="alert alert-success" style="margin-top:17px;">¡No se encontró ningún grupo para esta búsqueda!</div>
        }
        else{
            <div class="alert alert-success" style="margin-top:17px;">¡No te has unido a ningún Grupo!</div>
        }
    }
    <input id="txtSearch" type="hidden" value="@Model.Search" />
    <input id="txtPage" type="hidden" value="@(Model.Page + 1)" />
</div> 
<!-- Modal Request -->
<div id="modal-request" class="modal fade"><div class="modal-dialog"><div class="modal-content">
    <h4 class="text-center">¡Grupo Privado!</h4>
    <div class="form-horizontal">
        <p class="description">El Grupo <strong id="sRequestName"></strong> es Privado y debes ser miembro para poder visualizarlo. <br /> @*<br />Envia la solicitud ahora.*@</p>
        <div class="form-buttons">
            <input type="button" class="btn btn-success" value="Aceptar" data-dismiss="modal" />
        </div><input id="txtRequestId" name="group" type="hidden" value="" />
    </div>
</div></div></div>
@if(ViewBag.GlobalAlertMessage != null){
    <div class="@ViewBag.GlobalAlertClass"><button type="button" class="close" data-dismiss="alert">&times;</button>@Html.Raw(ViewBag.GlobalAlertMessage)</div>
}
@Html.AntiForgeryToken()
@section scripts{
    @if(string.IsNullOrEmpty(Model.Search)){
        @Scripts.Render("~/bundles/myGroups")
    }
    else{
        @Scripts.Render("~/bundles/groups")
    }
}