﻿@model Web_CrowdBook.Models.Views.GroupsModel
 <ul id="list-groups-main" class="list-groups clearfix" data-page="@(Model.Page + 1)">
    @foreach(var item in Model.Groups){
        if(!item.IsMember && Model.IsSearch && item.GroupMode.Key == ETC.BL.Common.GroupModeTypes.PRIVATE_VISIBLE.ToString()){
            <li class="group inserted" data-group="@item.IdGroup" data-name="@item.Name">
                <div class="avatar">
                    <img src="@Url.Action("Group", "Image", new { id = item.IdGroup, width = 373, height = 373 })" />
                </div>
                <div class="detail-group transparent">
                    <h3><a class="send-request dName" href="#">@item.Name</a></h3>
                    <strong class="overflow-ellips">@item.Owner</strong>
                    <div class="members counters"><b>@item.Members</b><span>Participantes</span></div>
                    <div class="resources counters"><b>@item.Resources</b><span>Recursos</span></div>
                    <i class="ico_lock"></i>
                </div><a class="send-request dName l-down-fill" href="#" rel="ignore" role="button"></a>
            </li>
        }
        else{
            <li class="group">
                <div class="avatar">
                    <img src="@Url.Action("Group", "Image", new { id = item.IdGroup, width = 373, height = 373 })" />
                </div>
                <div class="detail-group transparent">
                    <h3 class="dName">@Html.ActionLink(item.Name, "Index", "Group", new { id = item.IdGroup, name = Web_CrowdBook.Utils.Utils.FormatUrl(item.Name) }, null)</h3>
                    <strong class="overflow-ellips">@item.Owner</strong>
                    <div class="members counters"><b>@item.Members</b><span>Participantes</span></div>
                    <div class="resources counters"><b>@item.Resources</b><span>Recursos</span></div>
                </div><a class="l-down-fill" href="@Url.Action("Index", "Group", new { id = item.IdGroup, name = Web_CrowdBook.Utils.Utils.FormatUrl(item.Name) })"></a>
            </li>
        }
    }
</ul>